@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  padding: 15px 0px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.coverage-bg-styling {
  background: linear-gradient(to top, #BEE3F8, #FFFFFF);
}

.hero-section {
  background-image: url("../public/herobackg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.community-card > div {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
}

.footer-subheading {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer-ul > li {
  /* padding-top: 0.25rem; */
  
  border-bottom-width: 2px;
  border-style: dotted;
}

.infoLine {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0.25rem;
}

.infoLine > i {
  margin-right: 0.5rem;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
