@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  padding: 15px 0px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hero-section {
  background-image: url("../public/herobackg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.infoLine {
  border-bottom-width: 2px;
  border-style: dashed;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
